.main{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(240, 255, 255, 0);
  position: absolute;
  bottom: -50px;
  z-index: 1;
}

.section{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card{
  margin: 0 4px;
  width: 120px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: azure;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: all .5s;
  cursor: pointer;
}

.card:hover{
  background-color: var(--clrGR2);
}

.card:active{
  background-color: var(--clrGR3);
}

.card svg, .card path{
  font-size: 50px;
  color: var(--bg2);
  cursor: pointer;
}

.card h1{
  margin-top: 8px;
  font-size: 20px;
  font-family: 'Bebas' !important;
  color: var(--bg2);
  cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1024px){

  .card{
    margin: 0 10px;
  }

}

@media screen and (min-width: 1024px){

  .main{ 
    bottom: -60px;
  }

  .card{
    width: 180px;
    height: 180px;
    margin: 0 40px;
  }

  .card svg, .card path{
    font-size: 54px;
  }
  
  .card h1{
    margin-top: 12px;
    font-size: 22px;
  }

}